.title {
    border-radius: 4px;
}
.titleText {
    margin-top: 100px;  /* Indent from above */
    padding-top: 100px;  /* Indent on the left */
    color: #FFFFFF;
}

ul {
    padding-left: 0; /* Indent on the left for Firefox, Safari, Chrome */
    margin-left: 18px; /* Indent on the left */
}
.me {
    margin-top: 60px;  /* Indent from above */
    padding-top: 60px;  /* Indent on the left */
    color: #FFFFFF;
}
.paddingTop {
    margin-top: 15px;
}
.container1 {
    margin-top: 40px;
}
.polaroid {
    position: relative;
}
.polaroid img {
    border: 1px solid #fafafa;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 160px;
}
.line {
    border-left: 3px solid #ccc; /* Parallel line */
    padding-left: 30px; /* The distance from the line to the text */
}
.experience_row {
    margin-top: 30px;  /* Indent from above */
    padding-top: 30px;  /* Indent from above for Firefox, Safari, Chrome */
    color: #FFFFFF;
}
#footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
    background: #000000;
    color: #fff;
    width: 100%;
    text-align: center;
}
